/Library/
/obj/
/Packages/
/Temp/
/Builds/
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/MultiAR.sln
/MultiAR.userprefs
/UnityPackageManager/
/UWP/
/MultiARExamples.sln
/MultiARExamples.userprefs
/Assets/GoogleARCore/Resources.meta
/Assets/GoogleARCore/Resources/RuntimeSettings.meta
/Assets/GoogleARCore/Resources/RuntimeSettings/CloudServicesApiKey.txt
/Assets/GoogleARCore/Resources/RuntimeSettings/CloudServicesApiKey.txt.meta
/ProjectSettings/ARCoreProjectSettings.json
/ProjectSettings/AndroidResolverDependencies.xml
/Assets/GoogleARCore/SDK/Plugins/cloud_anchor_manifest.aar
/Assets/GoogleARCore/SDK/Plugins/cloud_anchor_manifest.aar.meta
/.vs/
/MultiARExamples.csproj
/MultiARExamples.Editor.csproj
/MultiARExamples.Player.csproj
/Assembly-CSharp.Player.csproj
